<% layout("layouts/boilerplate") %>

<form  method="POST" action="/index/<%= task._id %>/edit?_method=PUT" class="mb-3 d-flex">
  <input type="text" name="title" class="form-control me-2" placeholder="<%= task.title %>">
  <button class="btn btn-primary">Submit</button>
</form>